.headSection{
    display: flex;
    flex-direction: row;
    margin-top: -19px;
    margin-right: -8px;
    margin-left: -8px;
justify-content: center;
-webkit-box-shadow: inset 0px -6px 12px -6px rgba(35,31,32,0.9); 
box-shadow: inset 0px -6px 12px -6px rgba(35,31,32,0.9);   
 .fakeNav a{
        text-decoration: none;
        font-family: 'Code', 'Arial', 'Helvetica', sans-serif;
        font-weight: bold;
        margin-right: 30px;
        font-size: 18px;
        padding: 10px;
        letter-spacing: 1px;
        color: #231f20;
    }
.fakeNav {
    display: flex;
    margin-top: 65px;
    
}

.Logo{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 29px;
    margin-bottom: 20px;
}

}