.main_image {
    display: flex;
    justify-content: center;
}

#app h2 {
   font-family: 'Code', 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
    color: #231f20;
    margin-top: 40px;
    letter-spacing: 2px;
    margin-left: 100px;
}

.plsWork{
    
display: flex;
flex-direction: row;
margin: 0 auto;
justify-content: center;
}


.models{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}
